;------------------------------------------------------------------------------
; The NLRCExample_2.cfg Configuration File  
;
; Used by the NetLinx Compiler Console program (NLRC.EXE) that specifies 
; how to invoke the the NetLinx Compiler with a configuration file via a 
; command console window.
;
; To Invoke:
;
;   > NLRC -C"C:\AMX Projects\NLRCExample_2.cfg"
;------------------------------------------------------------------------------

;------------------------------------------------------------------------------
;
;  Main AXS Root Directory Reference 
;
;  MainAXSRootDirectory=-R ---> Use the relative path of the CFG file.
;
;  With the Invoke statement above, then MainAXRootDirectory=C:\AMX Projects
;
;------------------------------------------------------------------------------
MainAXSRootDirectory=-R

;------------------------------------------------------------------------------
;
; AXS files to compile with fully qualified paths. You can have more than one, 
; order of the compile is as written (no quotes are needed for the file names). 
;
;------------------------------------------------------------------------------
AXSFile=C:\AMXProjects\MainBoardRoom\QuantumData.axs  
AXSFile=C:\AMXProjects\MainBoardRoom\Projector.axs
AXSFile=C:\AMXProjects\MainBoardRoom\main.axs

;------------------------------------------------------------------------------
;
; Output Log File and Log File Options.
;
; OutputLogFile=        <--: Output log file name
;
;    Fully qualified file name (no quotes are needed)
;    If no OutputLogFile key present, then by default, log to the console
;    window.  Unless the OptionLogConsoleOptions= is specified (see below).
;
; OutputLogFileOption=  <--: Output log file option
;
;    A = Append status to the output file. If file does not exist, 
;        then the program will create a new one.
;    N = Create a new output file. Overwrites if the file already exists.
;
;  If no OutputLogFileOption key present, then the default is N.
;
; OutputLogConsoleOption= <--: Output Log to the Console
;
;    Y = Send log info to the console.
;    N = Do no send log info to the console.
;------------------------------------------------------------------------------
OutputLogFile=C:\AMXProjects\Example2_Compile.log
OutputLogFileOption=N
OutputLogConsoleOption=N

;------------------------------------------------------------------------------
;
; NetLinx Compiler Option Overrides
;
;   Ability to override the NetLinx Studio Compiler options that are defined
;   within NetLinx Studio.
;
;   Y = Yes   N = No 
;
; Comment these options out if you want to use the NetLinx Studio options.
;------------------------------------------------------------------------------
BuildWithDebugInformation=Y
BuildWithSource=Y

;------------------------------------------------------------------------------
; Additional Paths
;
; If you need to specify additional paths for the NetLinx compiler, you can add 
; the following keys:
;
;    AdditionalIncludePath=
;    AdditionalLibraryPath=
;    AdditionalModulePath=
;
; You can specify upto 50 additional paths for each type (one directory per
; key upto 50 keys per type).  No quotes are needed for the directory names.
;
; With the MainAXSRootDirectory=-R key defined above.
;
;------------------------------------------------------------------------------
AdditionalIncludePath=Small Room Includes
AdditionalIncludePath=GenUtility Includes

AdditionalModulePath=Small Room Modules
AdditionalModulePath=My Duet Modules

AdditionalLibraryPath=General AMX Libraries\Network
